<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/css/mainstyle.css" />
   <title>Missing Pets Report App</title>
 </head>
 <body>
   <nav class="navbar">
     <!-- LOGO -->
     <div class="logo">Mising Pet APP</div>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <!-- USING CHECKBOX HACK -->
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <!-- NAVIGATION MENUS -->
       <div class="menu">
         <li><a href="/">Home</a></li>
         <li><a href="/reports">Report Pets</a></li>
         <li class="services">
           <a href="/activities">Activities</a>
           <!-- DROPDOWN MENU -->
           <!--
           <ul class="dropdown">
             <li><a href="/">Dropdown 1 </a></li>
             <li><a href="/">Dropdown 2</a></li>
             <li><a href="/">Dropdown 2</a></li>
             <li><a href="/">Dropdown 3</a></li>
             <li><a href="/">Dropdown 4</a></li>
           </ul>
          -->
           <!-- end Drop Down Menu-->
         </li>
         <li><form>
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form></li>
       </div>
     </ul>
     
   </nav>
   <div class="container">
     <h1>Missing or Lost Pets Application</h1>
        <img style="background-position: center;  background-size: cover; padding-bottom: 30px;" src="images/petsone.jpg" alt="Missing Pets or Lost Pet" />
        <p style="font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align: justify; padding-right: 20px;"> Welcome to a website that attempts to reunite owners with their missing or lost pets. This website allows
            owners to report a missing pet by clicking on reports page and also allows other to report any possible sighting
            of the said Pet.
       </p>
   </div>
 </body>
</html>