<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/css/mainstyle.css" />
   <title>View Missing Pets Report</title>
   <script src="/js/javafile.js"></script>
   <script>
    $(document).ready(function(){
        $("form").submit(function (event) {
            event.preventDefault();
            let petanimal = document.forms["reportForm"]["petAnimal"].value;
            let petname = document.forms["reportForm"]["petName"].value;
            let petdesc = document.forms["reportForm"]["petDesc"].value;
            let petloc = document.forms["reportForm"]["petLoc"].value;
            if (petanimal == "" || petname == "" || petdesc == "" || petloc == "") {
                alert("Missing Pet Animal, Name, Description and Location must be filled out");
            }
            else {
                const petdetails = {
                petAnimal: document.forms["reportForm"]["petAnimal"].value,
                petName: document.forms["reportForm"]["petName"].value,
                petDesc: document.forms["reportForm"]["petDesc"].value,
                petLoc: document.forms["reportForm"]["petLoc"].value
            }
            $.ajax({
                    url: 'http://localhost:5000/api/report/',
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(petdetails),
                    dataType: 'json',
                    success: function(res) {
                        console.log(res.status);
                        if(res.status == 'Success')
                        {
                            //window.location.reload();
                            //window.location = '/reports';
                            alert('Pet Missing Report Successfully Saved');
                            window.location = '/reports';
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }
            
        });
    });
    </script>
 </head>
 <body>
   <nav class="navbar">
     
     <div class="logo">Mising Pet APP</div>
     
     <ul class="nav-links">
       
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       
       <div class="menu">
         <li><a href="/">Home</a></li>
         <li><a href="/reports">Report Pets</a></li>
         <li class="services">
           <a href="/activities">Activity</a>
         </li>
       </div>
     </ul>
   </nav>
   <div class="container">
    <h3>Add New Missing Pets</h3>
    <div class="reportdiv">
        <form method="POST" name="reportForm">
          <label for="petAnimal">Missing Pet Animal</label>
          <input type="text" id="petAnimal" name="petAnimal" placeholder="Enter Missing Pet Animal..." >
      
          <label for="petName">Missing Pet Name</label>
          <input type="text" id="petName" name="petName" placeholder="Enter Missing Pet Name ..."  >
          
          <label for="petDesc">Missing Pet Description</label>
          <input type="text" id="petDesc" name="petDesc"  placeholder="Enter Missing Pet Description ... ">
          
          <label for="petName">Missing Pet Location</label>
          <input type="text" id="petLoc" name="petLoc" placeholder="Enter Missing Pet Location ..." >
                  
          <input type="submit" value="Add New Pet Report">
        </form>
      </div>
   </div>
 </body>
</html>