<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <div class="container">
        <h1>Missing or Lost Pets Application</h1>
        <img style="background-position: center;  background-size: cover; height: auto;padding-bottom: 30px;" src="images/petsone.jpg" alt="Missing Pets or Lost Pet" />
        <p style="font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align: justify;"> Welcome to a website that attempts to reunite owners with their missing or lost pets. This website allows
            owners to report a missing pet by clicking on reports page and also allows other to report any possible sighting
            of the said Pet.
       </p>
    </div>
</body>
<%- include('../partials/footer') %>
 