<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <div class="container">
        <h3>Add New Missing Pets</h3>
        <% if(data.length > 0) {%>  
            <% for(var i=0; i< data.length; i++) {%>  
             <div><%= data[i].msg%></div>  
                  <% } %>  
             <% } %>  
        
        <form name="missingPets" method="POST" action="/addpet" >
            <label for="petAnimal">Enter Pet Animal: </label>
            <input class="form-control" type="text" name="petAnimal" id="petAnimal"  /> <br/>
            <label for="petName">Enter Pet Name: </label>
            <input class="form-control" type="text" name="petName" id="petName"  /> <br/>
            <label for="petDesc">Enter Pet Description:  </label>
            <textarea class="form-control" rows="3" name="petDesc" id="petDesc" >
            </textarea><br/>
            <label for="petLoc">Enter Pet Location: </label>
            <input class="form-control" type="text" name="petLoc" id="petLoc" /> <br/>
            <button class="form-control btn btn-primary stretched-link" type="submit">Add New Pet </button>
        </form>
    </div>
</body>
<%- include('../partials/footer') %>